{% extends "base/base.html" %}
{% block 'main' %}
<h2>Get in Touch</h2>

<p>
  We'd love to hear from you! Whether you have questions, feedback, or just want to say hello, feel free to reach out using the information below.
</p>

<h2>Contact Information</h2>
<ul>
  <li><strong>Email:</strong> support@example.com</li>
  <li><strong>Phone:</strong> +1 234 567 8901</li>
  <li><strong>Address:</strong> 123 Web Lane, Digital City, Internet 10101</li>
</ul>

<h2>Social Media</h2>
<ul>
  <li><strong>Facebook:</strong>  <a class="text-decoration-none" href='https://www.instagram.com/marvel/' target="_blank">@Marvel</a></li>
  <li><strong>Instagram:</strong>  <a class="text-decoration-none" href='https://www.facebook.com/Marvel/' target="_blank">@Marvel</a></li>
  <li><strong>Twitter:</strong> <a class="text-decoration-none" href='https://x.com/Marvel' target="_blank">@Marvel</a></li>
</ul>

<p>We appreciate your interest and look forward to connecting with you!</p>

{% endblock  %}